.app-form {
  padding: 30px;
  margin-top: 30px;
  flex-direction: column;
  width: 300px;
  height: 280px;
  background-color: white;
  border-radius: 3px;
  align-items: center;
}

.form-container {
  justify-content: center;
}

.form-btn {
  margin-top: 30px;
}
