.section-element {
  width: 500px;
  height: 225px;
  margin: 25px;
  padding: 25px;
  border-radius: 3px;
  background-color: white;
}

.pagination {
  display: flex;
  list-style: none;

  li {
    cursor: pointer;
    margin: 2px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid grey;

    &:hover {
      background-color: grey;
    }
  }
}

